# Database Configuration
DB_USER=admin
DB_PASSWORD=armoff122
DB_PORT=5432

# Application Configuration  
APP_PORT=3000
NEXTAUTH_SECRET=armboy122
NEXTAUTH_URL=https://meeting-room.akin.love

# Production Environment
NODE_ENV=production

# Optional: If using external database
# DATABASE_URL=postgresql://user:password@host:port/database 